.form-container {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
}

.top-section {
    text-align: center;
    padding: 1.5rem 0;
}

.top-image {
    height: 40px;
    width: 60%;
    padding-bottom: .5rem;
}

h3 {
    font-size: 25px;
    color: hsl(0, 0%, 18%);
    font-weight: 600;
}

.auth-form {
    display: grid;
    align-items: center;
}

.message {
    display: none;
}

.show-message {
    display: block;
    color: hsl(0, 0%, 100%);
    background: rgb(255, 0, 0);
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

label {
    color: hsl(0, 0%, 18%);
    font-weight: 400;
    font-size: 14px;
    padding: .5rem 0;
    display: block;
}

.input {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background: hsl(16, 12%, 97%);
}

.auth_input {
    background: none;
    outline: none;
    border: none;
    width: 200px;
}

.icon {
    font-size: 1.25rem;
    color: hsl(0, 0%, 75%);
}

.submit-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: .8rem;
    color: hsl(0, 0%, 100%);
    background: hsl(94, 55%, 56%);
    margin: auto;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    gap: .5rem;
    transition: .3s ease;
    margin: 15px 0;
}

.submit-btn:hover {
    color: hsl(0, 0%, 18%);
    background: hsl(93, 75%, 76%);
    transition: .3s ease;


    .btn-icon {
        color: hsl(0, 0%, 18%);
        transform: translateX(5px);
        transition: .3s ease;
    }
}

.btn-icon {
    cursor: pointer;
    font-size: 25px;
    color: hsl(0, 0%, 100%);
}


a {
    text-decoration: underline;
}

.forgot-password {
    font-size: 13px;
    color: hsl(0, 0%, 18%);
    opacity: .7;
    text-align: center;
}



@media screen and (max-width: 678px) {
    .top-section {
        padding: 1.5rem 0;
    }

    h3 {
        font-size: 20px;
    }

    input {
        width: 100%;
        max-width: 200px;
    }
}

@media screen and (max-width: 602px) {
    .top-section {
        padding: 1rem 0;
    }

    img {
        width: 40px;
    }

    .auth-form {
        gap: .5rem;
    }
}

