.section-button {
    border-radius: 50px;
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 20px;
    /*small 16px*/
    padding: 14px 48px;
    /*small 16px*/
    padding: 12px 30px;
}

.green {
    background: #01BF71;
    color: #010606
}

.green:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
}

.dark {
    background: #010606;
    color: #fff;
}

.dark:hover {
    transition: all 0.2s ease-in-out;
    background: #01BF71;
}




